* {
  margin: 0px;
  padding: 0px;
}

html,
body {
  background-color: darkslategrey;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 100px;
}

.contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  width: 300px;
  background-color: lightblue;
  border: 4px solid white;
  border-radius: 15px;
  padding: 10px;
}

.linea {
  padding: 1px;
}

.contenedorlogo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: 50px;
}

.logo {
  width: 100%;
}
