button {
  width: 70px;
  height: 70px;
  border: 1px solid white;
  padding: 10px;
  border-radius: 15px;
  background-color: black;
  color: white;
  font-size: xx-large;
  font-weight: bold;
  margin: 1px;
  cursor: pointer;
}

.negro {
  background-color: black;
}

.negro:hover {
  background-color: darkslategray;
}

.verde {
  background-color: darkgreen;
}

.verde:hover {
  background-color: forestgreen;
}
